---
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
featureGates:
  TTLAfterFinished: true
kubeadmConfigPatches:
  - |
    apiVersion: kubeadm.k8s.io/v1beta2
    kind: ClusterConfiguration
    metadata:
      name: config
    apiServer:
      extraArgs:
        enable-admission-plugins: NodeRestriction,PodSecurityPolicy
containerdConfigPatches:
- |-
  [plugins."io.containerd.grpc.v1.cri".registry.mirrors."{{ lima_kilo_docker_addr }}"]
    endpoint = ["http://{{ lima_kilo_docker_addr }}"]
nodes:
  - role: control-plane
    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "ingress-ready=true,kubernetes.wmcloud.org/nfs-mounted=true"
    extraPortMappings:
      - containerPort: {{ kind.api.port }}
        hostPort: {{ kind.api.port }}
        protocol: TCP
{% for port in kind.extra_forward_ports %}
      - containerPort: {{ port }}
        hostPort: {{ port }}
        protocol: TCP
{% endfor %}
    extraMounts:
{% for dir in toolforge.directories %}
      - hostPath: {{ dir }}
        containerPath: {{ dir }}
{% endfor %}
{% for file in toolforge.files %}
      - hostPath: {{ file.path }}
        containerPath: {{ file.path }}
        propagation: Bidirectional
{% endfor %}
